$commonColor: #1890ff;
.header {
	display: flex;
	align-items: center;
	padding: 0 20px;
	height: 40px;
	overflow: hidden;

	& > * {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	.crumbs {
		& > * {
			margin-right: 15px;
		}
	}
	.current {
		color: $commonColor;
		font-weight: bold;
	}
	.parent {
		cursor: pointer;
		margin: 0;
		font-weight: normal;
		&:hover {
			color: $commonColor;
		}
	}
	.last {
		flex: 1;
		text-align: right;
		margin-right: 50px;
	}
	a {
		color: $commonColor;
		cursor: pointer;
	}
}
