.innerTab {
	margin-left: 100px;
}
.selfDelivery {
	font-size: 12px;
	display: inline-block;
	padding: 2px 3px;
	color: #ef9f3c;
	border: 1px solid #ef9f3c;
	border-radius: 10px;
}

.columns {
	white-space: nowrap;
}

.stationAddress {
	width: 100%;
	background: #fafafa;
	height: 30px;
}

.iconRow {
	img {
		height: 20px;
		margin-right: 5px;
	}
}

.botContainer {
	margin-top: 20px;
	margin-right: 35px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.amount {
		line-height: 40px;
	}
}

.rowAction {
	a {
		margin-right: 15px;
		text-decoration: underline;
	}
}

:global {
	font-size: 12px;
	thead > tr > th.ant-table-cell.subTd {
		display: none;
	}
	// tbody > tr > td.ant-table-cell.subTd {
	// 	display: none;
	// }
	.subTd {
		white-space: initial;
		padding: 10px 10px 10px 50px;
		font-size: 12px;
	}
}
