.title {
	display: flex;
	padding-right: 20px;
	align-items: center;
	justify-content: space-between;
}

.ant-advanced-search-form {
	padding: 24px;
	.ant-form-item {
		display: flex;
	}
	.ant-form-item-control-wrapper {
		flex: 1;
	}
}
