:global {
	.ant-tabs-bar {
		margin-bottom: -1px;
	}
}
.index {
	width: 100%;
	margin-top: 30px;
}

.rowBg {
	background-color: #fafba8;
}

.setlabelwidth {
	th {
		width: 20%;
	}
}

.rigthFloat {
	display: flex;
	justify-content: flex-end;
}
