@import "~styles/variables.scss";

.topBar {
	position: relative;
	box-sizing: border-box;
	height: 50px;
	color: #fff;
	background: $primary-color;
	overflow: hidden;

	.logo {
		height: inherit;
		line-height: 50px;
		padding-left: 16px;
		font-size: 14px;
		text-align: center;
		display: flex;
		font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
		img {
			max-width: 90px;
			margin-right: 10px;
			vertical-align: middle;
		}
		.logoName {
			display: block;
			margin-right: 5px;
			font-size: 28px;
		}
	}

	.userInfo {
		position: fixed;
		left: 8px;
		bottom: 20px;
		text-align: center;

		&:before {
			position: absolute;
			z-index: 1;
			content: "";
			left: 40px;
			top: 14px;
			width: 8px;
			height: 8px;
			border-style: solid;
			border-color: #e6e6e6;
			border-width: 0 0 1px 1px;
			background: #fff;
			transform: rotate(45deg);
			opacity: 0;
			visibility: hidden;
		}
		.name {
			display: inline-block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			color: #fff;
			cursor: pointer;
			border-radius: 50%;
			background: #a1c2f7;
		}
		a {
			display: inline-block;
			height: 36px;
			line-height: 36px;
			padding: 0 23px 0 15px;
			margin-left: 8px;
			color: #666;
			border: 1px solid #e6e6e6;
			background: #fff;
			transition: all 300ms;
			opacity: 0;
			visibility: hidden;
			cursor: pointer;

			&:hover {
				color: $primary-color;
			}
		}
		.icon {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 8px;
			vertical-align: middle;
			background: url(./images/log_out.png) no-repeat center;
			background-size: cover;
		}

		&.active {
			&:before {
				opacity: 1;
				visibility: visible;
			}

			a {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
