<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%></title>
	<meta name="google" value="notranslate">
	<meta name="renderer" content="webkit"/>
  	<meta charset="UTF-8">	
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, maximum-scale=1">
	<script src="//feedback.elitb.com/evaluationIconByOa.js"></script>
	<link rel="shortcut icon" href="//backend.65daigou.com/asset/ezbuy.ico" type="image/x-icon" />
	<% styles.forEach(function(href){ %>
		<link href=/<%= href %> rel=stylesheet>
	<% }) %>
</head>
<body>
	<div id="container" style="height: 100%"></div>
	<script>
		<%- manifestContent %>
	</script>
	<% scripts.forEach(function(src) { %>
		<script type=text/javascript src=/<%= src %>></script>
	<% }) %>
</body>
</html>
