.index {
	// background-color: rgba(240, 242, 245, 1);
	padding: 30px 40px;
}

.Menu {
	.ant-menu-item {
		width: 300px;
	}
}
.OrderStatus {
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	background-color: "#fff";
}
