.header {
	margin: 15px 0;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	&.first {
		margin-top: 10px;
	}
}
span {
	font-weight: bold;
}

.sign {
	width: 100%;
	border: 1px solid #dfdfdf;
	height: 200px;
}
