@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.gva-pagination {
  display: flex;
  justify-content: flex-end;
  .el-pagination__editor {
      .el-input__inner {
          height: 32px;
      }
  }
  .el-pagination__total {
      line-height: 32px !important;
  }
  .btn-prev {
      padding-right: 6px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
  }
  .number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
  }
  .btn-quicknext {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
  }
  .btn-next {
      padding-left: 6px;
      width: 32px;
      height: 32px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  .active {
      background: #4D70FF;
      border-radius: 2px;
      color: #ffffff !important;
  }
  .el-pager li.active+li {
      border-left: 1px solid #ddd !important;
  }
  .el-pagination__sizes {
      .el-input {
          .el-input__suffix {
              margin-top: 2px;
          }
      }
  }
  .el-pagination__jump {
      .el-pagination__editor {}
  }
}